*{
    margin: 0;
    padding: 0;
}
body{
    background: #ebe6dc;
    font-size:16px;
    font-family: Helvetica, sans-serif;
}
.container{
    width:80%;
    margin: 50 px auto;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #aba986;
}
h1{
    margin-bottom: 10px;
    margin: 10px;
}
p{
    margin: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: #252428;
}
button{
    background: #5a6862;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
    color:#000;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    color:#000;
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr {
    padding-top: 20px;
}

a {
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 1px;
    transition: 0.3s;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  header {
    padding: var(--spacing);
    background: #fff;
    height:auto;
  }
  nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing);
    width: 100%;
  }
  ul a, ul span {
    font-weight: 700;
    background-image: linear-gradient(0deg, #111, #111);
    background-repeat: no-repeat;
    background-size: 0 2px;
    padding-bottom: 10px;
    background-position: 50% bottom;
  }
  
  ul a:hover, 
  ul span:hover, 
  .controls span:hover,
  .controls span:hover,
  .search:focus {
    background-size: 100% 2px;
    background-image: linear-gradient(0deg, var(--accent), var(--accent));
  }
  nav span {cursor: pointer;}
  
  .brand {
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 15px;
  }
  nav li {
    display: inline-block;
    margin: 0 0.7em;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

