:root {
  --accent: #feb57b;
  --spacing: 2.5em;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: rgb(236, 236, 230);
  margin: 0;
}

* {
  box-sizing: border-box;
}

a, span {
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
  transition: 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

header {
  margin: 0;
  padding: 15px;
  background-color: rgb(236, 236, 230);
  height: 10vh;
}

.container {
  max-width: 80%;
  margin: auto;
  margin-top: 2%;
  background: rgb(80, 87, 65);
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing);
  width: 100%;
}

ul a,
ul span {
  font-weight: 700;
  background-image: linear-gradient(0deg, #111, #111);
  background-repeat: no-repeat;
  background-size: 0 2px;
  padding-bottom: 10px;
  background-position: 50% bottom;
}

ul a:hover,
ul span:hover,
.span:hover,
.span:hover {
  background-size: 100% 2px;
  background-image: linear-gradient(0deg, var(--accent), var(--accent));
}

nav span {
  cursor: pointer;
}

.brand {
  text-transform: capitalize;
  font-size: 1.2em;
}

nav li {
  display: inline-block;
  margin: 0 0.7em;
}

.span {
  background-image: linear-gradient(0deg, #111, #111);
  background-repeat: no-repeat;
  background-size: 50% 2px;
  padding-bottom: 10px;
  background-position: 50% bottom;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.social {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: var(--spacing);
  align-items: center;
  flex-direction: column;
  z-index: 999; 
}

.social li {
  margin: 1.5em 0;
  writing-mode: vertical-rl;
  font-weight: 700;
}

.span {
  margin: 0 0.5em;
}

.left {
  width: 30%;
}

.main_image img {
  max-width: 100%;
  height: auto;
}

.right {
  width: 60%;
  padding: 20px;
}

p {
  margin: 20px 20px 10px 0;
  line-height: 20px;
}

button {
  width: 30%;
  padding: 10px;
  margin: 10px;
  border: none;
  outline: none;
  background: #c3d997;
  color: white;
  border-radius: 30px;
}

button:hover {
  width: 35%;
  padding: 10px;
  border: none;
  outline: none;
  background: #8b9483;
  color: white;
  border-radius: 30px;
}

@media screen and (max-width: 1000px) {
  .menu-btn {
    display: block;
  }
  nav .menu {
    background: #fff;
    position: absolute;
    left: 0;
    top: 5em;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    overflow: hidden;
    z-index: 9;
  }
  nav .menu-open {
    opacity: 1;
    height: 85%;
    overflow: visible;
  }
  nav .menu li {
    margin: 1em 0;
  }
  form:not(.form-mobile) {
    display: none;
  }
  .form-mobile {
    display: block;
    margin-top: 1.6em;
  }
}

@media screen and (max-width: 850px) {
  header {
    height: initial;
  }
  .header-body {
    grid-template-columns: 1fr;
  }
  .header-body > div:not(.slider) {
    margin: var(--spacing) 0;
  }
  .slider {
    margin: var(--spacing) 0;
  }
  .pagination {
    display: none;
  }
  .social {
    flex-direction: row;
  }
  .social li {
    margin: 0 1.5em;
    writing-mode: initial;
  }
}

@media screen and (max-height: 430px) {
  header .menu-open {
    height: 600px;
  }
}

@keyframes slide1 {
  0% {
    height: 0;
  }

  100% {
    height: 70%;
  }
}

@keyframes slide2 {
  0% {
    height: 0;
  }

  100% {
    height: 12em;
  }
}

@keyframes slide3 {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}
